<mat-toolbar color="primary">
    <span (click)="IrParaHome()" class="chefMaju">Chef Maju</span>
    <span class="espacamento"></span>
    <!-- <mat-icon aria-hidden="false" aria-label="home">menu</mat-icon> -->
</mat-toolbar>

<router-outlet></router-outlet>