<mat-grid-list cols="5" rowHeight="100px">
    <!-- Filtros -->
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="w90">
            <input type="text" placeholder="Estado" aria-label="estado" matInput [(ngModel)]="estadoSelecionado"
                disabled>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="w90 m0auto">
            <input type="text" placeholder="Cidade" aria-label="cidade" matInput [(ngModel)]="cidadeSelecionada"
                disabled>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <button mat-stroked-button color="primary" class="w90 m0auto" (click)="novaBusca()">Nova busca</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

    <!-- Loading -->
    <div *ngIf="!cidadeEncontrada && !exibeMsgCidadeNaoEncontrada">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="cidadeEncontrada">
        <!-- Info Clima -->
        <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="2">
            <mat-card class="w90">
                <mat-card-header>
                    <mat-card-title class="titulo-temp">
                        <mat-icon aria-hidden="false" aria-label="place">place</mat-icon>
                        Em <b>{{cidadeSelecionada}}</b> agora
                        fazem <b>{{model?.temperatura}}º C.</b>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="clima">
                    <p>Clima: <b>{{model?.clima}}</b>.</p>
                    <p class="infoConsulta">Consulta realizada em: {{model.dataConsultaClima | date:'medium' }}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>

        <!-- Receita destaque -->
        <mat-grid-tile colspan="1" rowspan="7"></mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="7">
            <mat-card class="card-destaque">
                <mat-card-header>
                    <mat-card-title class="titulo-dest">{{model?.receitaIndicada?.nome}}</mat-card-title>
                    <mat-chip-list aria-label="recomendada">
                        <mat-chip color="primary" selected>
                            <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
                            &nbsp; Maju recomenda
                        </mat-chip>
                    </mat-chip-list>
                </mat-card-header>
                <mat-card-content class="cardContent">
                    <mat-grid-list cols="2" rowHeight="100px">
                        <mat-grid-tile colspan="1" rowspan="3">
                            <img mat-card-image [src]="model?.receitaIndicada?.linkImagem" alt="Receita indicada">
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1" rowspan="3">
                            <mat-list>
                                <mat-list-item *ngFor="let ingrediente of model?.receitaIndicada?.ingredientes">
                                    {{ingrediente}}
                                </mat-list-item>
                            </mat-list>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="primary" class="w100 m0auto"
                        (click)="abrirNovaAba(model?.receitaIndicada?.linkExterno)">Ver
                        mais</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="7"></mat-grid-tile>

        <!-- Outras receitas -->
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">
            <p class="sugestoes">Você também pode gostar de:</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>


        <mat-grid-tile colspan="1" rowspan="7"></mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="7">
            <mat-list>
                <mat-list-item *ngFor="let receita of model?.receitas">
                    <img matListAvatar [src]="receita.linkImagem" [alt]="receita.nome">
                    <h3 matLine> {{receita.nome}} </h3>
                    <mat-icon aria-hidden="false" aria-label="chevron_right" class="iconeIrPara"
                        (click)="abrirNovaAba(receita.linkExterno)">chevron_right</mat-icon>
                </mat-list-item>
            </mat-list>

        </mat-grid-tile>
    </div>

    <div *ngIf="exibeMsgCidadeNaoEncontrada">
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">
            <mat-card class="w90">
                <mat-card-header>
                    <mat-card-title class="titulo-dest">
                        Ops! Não encontramos informações para a cidade pesquisada! :(
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="cardContent">
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    </div>
</mat-grid-list>