img {
    width: 270px;
    border-radius: 15px !important;
}

mat-chip-list {
    margin: 0 0 0 auto;
}

mat-card {
    border-radius: 10px;
}

mat-card.card-destaque {
    border: 2px solid #3f51b5;
    width: 90%;
}

mat-card-title.titulo-temp {
    font-size: 25px;
    color: #ff4081;
    margin: 0 auto;
}

mat-card-title.titulo-dest {
    font-size: 25px;
    color: #3f51b5;
    margin: 0 auto;
}

p.sugestoes {
    width: 100%;
    font-size: 20px;
    color: dimgrey;
}

mat-list {
    width: 90%;
    height: 100%;
}

h3 {
    font-size: 18px;
}

.cardContent {
    padding: 2em;
}

.clima {
    font-size: 20px;
    padding: 1em;
}

.iconeIrPara {
    cursor: pointer;
}

.mat-card-header-text {
    margin: 0 auto !important;
}

.infoConsulta {
    color: darkgray;
    font-size: 14px;
    text-align: end;
}
