<form class="example-form">
    <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile colspan="5" rowspan="4">
            <div class="w100 tcenter">
                <img src="../../../assets/imgs/maju.png" class="logo" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="5"></mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-form-field class="w90">
                <input type="text" placeholder="Informe o estado" aria-label="estado" matInput
                    [formControl]="estadoSelecionado" [matAutocomplete]="ufcomplete">
                <mat-error *ngIf="estadoSelecionado.hasError('required')">
                    O estado é obrigatório.
                </mat-error>
                <mat-autocomplete autoActiveFirstOption #ufcomplete="matAutocomplete"
                    (optionSelected)="buscarCidade($event)">
                    <mat-option *ngFor=" let estado of estadosFiltrados | async " [value]="estado.sigla">
                        {{ estado?.nome }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-form-field class="w90 m0auto">
                <input type="text" placeholder="Informe a cidade" aria-label="cidade" matInput
                    [formControl]="cidadeSelecionada" [matAutocomplete]="cidadeComplete">
                <mat-error *ngIf="cidadeSelecionada.hasError('required')">
                    A cidade é obrigatória.
                </mat-error>
                <mat-autocomplete autoActiveFirstOption #cidadeComplete="matAutocomplete">
                    <mat-option *ngFor="let cidade of cidadesFiltradas | async" [value]="cidade">
                        {{cidade}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <button mat-flat-button color="primary" class="w90 m0auto" (click)="buscarReceita()">Encontrar receita
                ideal</button>
        </mat-grid-tile>
    </mat-grid-list>
</form>