/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.tcenter {
    text-align: center;
}

.m0auto {
    margin: 0 auto;
}
